@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #faf0e6;
    overflow-y: auto;
}

/* NAVBAR */

nav {
    background-color: #000000; 
    overflow: hidden;
    height: 50px;
}
  
nav ul #veg-logo {
    float:left;
    margin-left: 8px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;

  }
  
/* header produce icon */
ul img{
    width: 65px;
    height: 40px;
    margin: .5em;
}

li {
    float: right;
    margin-right: 20px;
    position: relative;

}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    font-size: 20px;
}

li a:hover {
    background-color: #faf0e6;
}


/* LOGO */

#left-side-logo {
    float:left;
    margin: 20px;
}

#left-side-logo > img {
    max-width: 100%;
    margin-top: 2em;
    height: auto;
    width: 80%;
}


/* ABOUT SECTION TABLE */

table {
    margin: 0 auto;
}

table th {
    text-decoration: underline;
}

table td {
    padding: 10px;
}


/* HEADERS */

#headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

h1, h3, p {
    margin: 0;
    padding: 10px;
}


/* SIGN UP FORM -- MAIN PAGE*/

#right-side-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

#signup {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#signup > h3 {
    font-size: 24px; 
    margin: 0;
    padding: 0;
}

#signup > form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    padding: 20px;

}

#signup > form > label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

#signup > form > input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#signup > form > .button {
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: auto;
}

/* CONTACT FORM -- CONTENT PAGE */

#main-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    align-items: flex-start;
    margin-top: 40px;
    padding: 10px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact p {
    font-size: 24px;
}

#contact form {
    width: 100%;
    max-width: 400px; 
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

#left-content {
    flex: 1;
}

/* Right content (contact form) */
#right-content {
    flex: 1; 
    margin-right: 3em;
}

#message {
    height: 150px; 
    resize: vertical;
}

.button {
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: auto;
}

label {
    display: block;
    margin-bottom: 10px; 
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 5px;
    margin: 5px 0; 
}

/*ABOUT SECTION */

#headers-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 60px;

}

#farmers-market-graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

#farmers-market-graphic img{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 105px;;

    
}

/* FOOTER */

footer {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 50px;
    bottom: 0;
    margin-top: 20px; 
}

